* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Section */

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin-right: 15rem;
    background-color: black;
}

#navbar li {
    list-style: none;
    margin: 0 15rem;
}

#navbar a {
    text-decoration: none;
    display: block;
    text-align: center;
    float: left;
    padding: 1rem 2rem;
    color: gray;
    font-size: 1.3rem;
    transition: all 0.4s;
}

#navbar a:hover {
    color: #fff;
}

#navbar a:hover::after,
#navbar a:focus::after {
    opacity: 1;
}

#navbar .nav-item::after {
    content: '';
    background: rgb(0, 183, 255);
    pointer-events: none;
    transition: all 0.2s;
    opacity: 0;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 4px;
}

.active {
    background-color: blueviolet;
}

/* Main Section */
#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main h1 {
    font-size: 5rem;
}

/* About Me Section */
#about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column-1 {
    width: 50%;
}

.column-2 {
    width: 50%;
}

.about-heading {
    font-size: 3rem;
}

.about-text {
    padding: 0 10rem;
    font-size: 1.5rem;
}

#selfImage {
    width: 40%;
    height: 40%;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* Projects Section */

#projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects-text {
    margin-bottom: 10rem;
}

.projects-display {

}

/* Contact Me Section */

#contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole-container {
    border: 5px solid blue;
    border-radius: 1rem;
    width: 40%;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 1.5rem;
}

.contact-map {
    display: inline-block;
    text-align: center;
    padding: 1rem;
    border-bottom: 5px solid blue;
}

.contact-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
}

.my-email {
    text-decoration: none;
}

.user-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.user-email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.user-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.user-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.contact-submit {
    border-radius: 0.5rem;
    background-color: blue;
    width: 6rem;
    height: 2rem;
    color: #fff;
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

/* Footer Section */

#footer {
    background-color: black;
}

.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.scroll-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top {
    text-decoration: none;
    color: #fff;
    padding-top: 1rem;
    font-weight: bolder;
    font-size: 1.5rem;
}

